name = "goxprint"
main = "dist/index.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build"

[env.production]
name = "goxprint-prod"

[env.development]
name = "goxprint-dev"
